
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
              "zenoss-server": { "unique": true, "count": 1, "admin":true },
              "zenoss-client": { "unique": true, "count": -1 } };
    node_selector($('#drag_drop'), constraints);
  });

